<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/inicio.css">
</head>
    
<body>

        <% if (usuario != undefined) { %>  
            <%- include('./partials/headerLogueado') %>
        <% } else { %>    
             <%- include('./partials/header')   %> 
        <% } %> 

        <% if(usuario.TipoUsuario_id == 3){ %>
            <li> <a href=<%-"/usuario/admin"%>> Mi perfil </a> </li>
        <% } else { %>
            <li><a href=<%- "/emprendedores/miperfil/"%> >Mi perfil</a></li> 
        <% } %> 
    <main>
        <h1 class="h1hero"></h1> 
        <img class="fondo .uk-background-cover" src="images/inicio.png" alt="">

        <div class="uk-container uk-container-large uk-flex herosection">
                
            <h1 class="h1hero">Todos los emprendedores en un solo lugar.</h1>
            
            <h2 class="h2hero">¡Comprale directo al creador!</h2>
            
            <div>
                <button class="botonhero botonemprendio textobotonemprendio" onclick="location.href='productos'">Comprar ahora</button>
            </div>

        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>