<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/perfilesVarios.css">
</head>

<body>

    <% if (usuario != undefined) { %>  
        <%- include('./partials/headerLogueado') %>
    <% } else { %>    
         <%- include('./partials/header')   %> 
    <% } %> 

    <h2 class="h2emprendio tituloseccion">Emprendedores</h2>
    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-small">
               <section class="muro uk-flex uk-flex-middle uk-flex-center emprendedores">
                    <div class="uk-grid uk-child-width-1-3 uk-width-1-1 uk-margin-remove" uk-grid> 
                        
                        
                        
                        <% for( let i = 0; i < usuarios.length; i++ ) { %>
                         <% if (usuarios[i].TipoUsuario_id == 2) { %>    
                            <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center tarjetaemprendio ">
                                <a href='/emprendedores/emprendedor/<%=usuarios[i].id%>' class="link-detalle">
                                    
                            <img src="<%=usuarios[i].Foto%>" alt="foto de perfil" class="foto-perfil">
                                    <h3 class="uk-text-center h3emprendio"><%=usuarios[i].NombreUsuario%></h3>
                                </a>
                            </div>
                           <% } %> <% } %>

                           <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center emprendedor">
                            <a href="/home/registrovendedor" class="link-detalle">
                                
                                <img class= "quiero" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTDDBvtuxezYnToWbYCwyg78o8LLV1crI_gmw&usqp=CAU">
                                <h3 class="uk-text-center">Quiero ser Emprendedor!</h3>
                            </a>
                        </div>
                    </div>


                    </div>
                    
                        
               </section>
            </div>
        </div>
     
    <%- include('./partials/footer') %> 

</body>

</html>